@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Ruluko&display=swap');

html {
    background: url("./asset/BG3.png");
    background-color: #f73d6e;
}

body {

    background-size: auto;
    background-color: #361926;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 5%;
    padding-bottom: 8.5%;
}

h1 {
    text-align: center;
    font-family: "Ruluko", Consolas;
    color: white;
    font-size: 45px;
}

p {
    font-family: "Nanum Pen Script", Consolas;
    color: white;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}

a {
    color: #ffc860;
    text-decoration: none;
}
a:hover {
    color: #e15d5d;
}

#endless-runner {
    text-align: center;
    align-content: center;
}